MONGODB_URI=mongodb://localhost:27017/ms-bikeshop
JWT_SECRET=tu_clave_secreta_super_segura_aqui
STRIPE_KEY=sk_test_tu_clave_stripe_aqui
STRIPE_PUBLISHABLE=pk_test_tu_clave_publica_aqui
EMAIL_USER=tu_email@gmail.com
EMAIL_PASSWORD=tu_contraseña_aplicacion
CLOUDINARY_URL=cloudinary://tukey@tucloud
NODE_ENV=development
PORT=5000
